@use '../../scss/variable' as *;

.header {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  font-size: 40px;
  font-weight: 700;
  margin: 0;
  color: var(--title-color);
}

.unfinishedTask {
  color: var(--title-color);
  margin-bottom: 10px;
}

.date {
  margin-top: 8px;
  font-size: 14px;
  color: var(--date-color);
}

.themeBtn {
  padding: 8px 16px;
  margin-bottom: 8px;
  font-size: 16px;
  background-color: var(--theme-tone-color);
  color: var(--add-btn-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: box-shadow .3s ease-in-out;
  display: block;
}

.themeBtn:hover {
  box-shadow: 0 4px 11px var(--box-shadow-color);
}

@media (max-width: 576px) {
  .header {
    align-items: center;
  }
  .themeBtn{
    width: 100%;
  }
}