@use '../../scss/variable' as *;

.header {
  padding: 20px 0;
}

.title {
  font-size: 40px;   
  font-weight: 700;
  margin: 0;
  color: $title-color;
}

.date {
  margin-top: 8px;
  font-size: 14px; 
  color: $date-color;
}
