@use './variable' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, arial;
  font-size: 16px;
  background-color: var(--body-color);
}

.content {
  padding: 0 32px;
  width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .content {
    width: 100%
  }
}

@media (max-width: 576px) {
  .content {
    padding: 0 16px;
  }
}