@use './variable' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
padding: 20px 0;
}

body {
  font-family: system-ui, arial;
  font-size: 16px;
  background-color: var(--body-color);
}

.content {
  border-radius: 20px;
  padding: 32px;
  width: 1200px;
  margin: 0 auto;
  min-height: 90vh;
  background-color: var(--content-color);
}

.noTask {
  color: var(--item-text-color);
}

@media (max-width: 1200px) {
  .content {
    width: 100%
  }
}

@media (max-width: 576px) {
  .content {
    padding: 0 16px;
  }
}