:root {
  --theme-tone-color: #5a2d0c;
  --body-color: #e3ebf0;
  --content-color: #5a2c0c2d;
  --title-color: #111111;
  --date-color: #5f6368;
  --add-btn-color: #e6e6e6;
  --box-shadow-color: #0000008c;
  --item-color: #d4dde3;
  --item-completed-color: #868686;
  --item-text-color: #000000;
  --theme-border-color: #ff8c42;
}

[data-theme="dark"] {
  --theme-tone-color: #ff8c42;
  --body-color: #3b3b3b;
  --content-color: #242424;
  --title-color: #ffffff;
  --date-color: #cccccc;
  --add-btn-color: #313131;
  --box-shadow-color: #7c7c7ccc;
  --item-color: #2a2a2a;
  --item-completed-color: #777777;
  --item-text-color: #ffffff;
  --theme-border-color: #fd5151;
}

[data-theme="blue"] {
  --theme-tone-color: #1e88e5;
  --body-color: #b4dbf7;
  --content-color: #e6ecf1;
  --title-color: #0b2e66;
  --date-color: #1565c0;
  --add-btn-color: #dee7ee;
  --box-shadow-color: rgba(13, 71, 161, 0.25);
  --item-color: #bbdefb;
  --item-completed-color: #7a9cc9;
  --item-text-color: #08233f;
  --theme-border-color: #fbc02d;
}