
$theme-tone-color:#5a2d0c;

$body-color:#e3ebf0;
$title-color:#111111;

$date-color:#5f6368;
$add-btn-color:#e6e6e6;
$box-shadow-color:#0000008c;
$item-color:#d4dde3;
$item-completed-color:#868686;
$item-text-color:#000000;